* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background-color: #2874f0;
    color: white;
    padding: 15px 30px;
    display: flex;               /* FLEXBOX */
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.logo i {
    margin-right: 8px;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-item {
    cursor: pointer;
}

.nav-item i {
    margin-right: 6px;
}

/* PRODUCT GRID */
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px;
    padding: 30px;
    background-color: #f1f3f6;
}

/* PRODUCT CARD */
.product-card {
    background: white;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;               
    flex-direction: column;
}

.product-card img {
    width: 100%;
    height: 140px;      /* reduced height */
    object-fit: contain; /* shows full product image */
    margin-bottom: 10px;
}


.price {
    color: green;
    font-weight: bold;
    margin: 8px 0;
}

.product-card button {
    padding: 8px;
    background-color: #2874f0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* HOVER EFFECTS */
.product-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.product-card button:hover {
    background-color: #0b5ed7;
}

